<!--
    ROS navigation stack
    Install this packs
  $ sudo apt-get install ros-melodic-navigation
  $ sudo apt-get install ros-melodic-map-server
  $ sudo apt-get install ros-melodic-move-base
  $ sudo apt-get install ros-melodic-amcl
-->
<launch>
  <arg name="odom_frame_id"     default="agv1/odom"/>
  <arg name="base_frame_id"     default="agv1/base_link"/>
  <arg name="global_frame_id"   default="map"/>
  <arg name="odom_topic"        default="agv1/odom" />
  <arg name="laser_topic"       default="agv1/scan" />
  <arg name="move_forward_only" default="false"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_agv1" output="screen" clear_params="true">
    <rosparam file="$(find tec_proyect)/config/costmap_common_params.yaml"              command="load" ns="global_costmap" />
    <rosparam file="$(find tec_proyect)/config/costmap_common_params.yaml"              command="load" ns="local_costmap" />
    <rosparam file="$(find tec_proyect)/config/local_costmap_params.yaml"               command="load" />
    <rosparam file="$(find tec_proyect)/config/global_costmap_params.yaml"              command="load" />
    <rosparam file="$(find tec_proyect)/config/base_local_planner_params.yaml"          command="load" />

    <param name="base_global_planner" type="string" value="global_planner/GlobalPlanner" />
    <!--    For A* algoritm, use_dijkstra=false and use_grid_path=true-->
    <param name="GlobalPlanner/use_dijkstra"        value="true" />
    <param name="GlobalPlanner/use_quadratic"       value="true" />
    <param name="GlobalPlanner/use_grid_path"       value="false" />
    <param name="GlobalPlanner/cost_factor"         value="0.55" />
    <param name="GlobalPlanner/neutral_cost"        value="69" />
    <param name="GlobalPlanner/lethal_cost"         value="253" />

<!--    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>-->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find tec_proyect)/config/base_local_planner_params.yaml" command="load"/>
    <param name="controller_frequency"  value="30.0" />
    <param name="planner_frequency"     value="10.0" />

    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame"       value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame"   value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame"        value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame"    value="$(arg base_frame_id)"/>
<!--    <param name="DWAPlannerROS/global_frame_id"     value="$(arg odom_frame_id)"/>-->

    <remap from="cmd_vel"                                                           to="agv1/cmd_vel"/>
    <remap from="odom"                                                              to="$(arg odom_topic)"/>
    <remap from="scan"                                                              to="$(arg laser_topic)"/>
    <remap from="map"                                                               to="/map" />

    <remap from="/move_base/NavfnROS/plan"                                          to="/agv1/move_base/NavfnROS/plan" />
    <remap from="/move_base_simple/goal"                                            to="/agv1/move_base_simple/goal" />

    <remap from="/move_base/global_costmap/costmap"                                 to="/agv1/move_base/global_costmap/costmap" />
    <remap from="/move_base/global_costmap/costmap_updates"                         to="/agv1/move_base/global_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/costmap"                                  to="/agv1/move_base/local_costmap/costmap" />
    <remap from="/move_base/local_costmap/costmap_updates"                          to="/agv1/move_base/local_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/footprint"                                to="/agv1/move_base/local_costmap/footprint" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_descriptions"    to="/agv1/move_base/local_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_updates"         to="/agv1/move_base/local_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/obstacle_layer/clearing_endpoints"        to="/agv1/move_base/local_costmap/obstacle_layer/clearing_endpoints" />
    <remap from="/move_base/local_costmap/inflation_layer/parameter_updates"        to="/agv1/move_base/local_costmap/inflation_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/inflation_layer/parameter_descriptions"   to="/agv1/move_base/local_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/inflater_layer/parameter_descriptions"    to="/agv1/move_base/local_costmap/inflater_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/inflater_layer/parameter_updates"         to="/agv1/move_base/local_costmap/inflater_layer/parameter_updates" />

    <remap from="/move_base/GlobalPlanner/plan"                                     to="/agv1/move_base/GlobalPlanner/plan" />
    <remap from="/move_base/GlobalPlanner/parameter_descriptions"                   to="/agv1/move_base/GlobalPlanner/parameter_descriptions" />
    <remap from="/move_base/GlobalPlanner/parameter_updates"                        to="/agv1/move_base/GlobalPlanner/parameter_updates" />
    <remap from="/move_base/GlobalPlanner/potential"                                to="/agv1/move_base/GlobalPlanner/potential" />
    <remap from="/move_base/NavfnROS/plan"                                          to="/agv1/move_base/NavfnROS/plan" />

<!--    <remap from="/move_base/DWAPlannerROS/cost_cloud"                               to="/agv1/move_base/DWAPlannerROS/cost_cloud" />-->
<!--    <remap from="/move_base/DWAPlannerROS/global_plan"                              to="/agv1/move_base/DWAPlannerROS/global_plan" />-->
<!--    <remap from="/move_base/DWAPlannerROS/local_plan"                               to="/agv1/move_base/DWAPlannerROS/local_plan" />-->
<!--    <remap from="/move_base/DWAPlannerROS/parameter_descriptions"                   to="/agv1/move_base/DWAPlannerROS/parameter_descriptions" />-->
<!--    <remap from="/move_base/DWAPlannerROS/parameter_updates"                        to="/agv1/move_base/DWAPlannerROS/parameter_updates" />-->
<!--    <remap from="/move_base/DWAPlannerROS/trajectory_cloud"                         to="/agv1/move_base/DWAPlannerROS/trajectory_cloud" />-->

    <remap from="/move_base/TebLocalPlannerROS/obstacles"                           to="/agv1/move_base/TebLocalPlannerROS/obstacles" />
    <remap from="/move_base/TebLocalPlannerROS/parameter_descriptions"              to="/agv1/move_base/TebLocalPlannerROS/parameter_descriptions" />
    <remap from="/move_base/TebLocalPlannerROS/parameter_updates"                   to="/agv1/move_base/TebLocalPlannerROS/parameter_updates" />
    <remap from="/move_base/TebLocalPlannerROS/teb_feedback"                        to="/agv1/move_base/TebLocalPlannerROS/teb_feedback" />
    <remap from="/move_base/TebLocalPlannerROS/via_points"                          to="/agv1/move_base/TebLocalPlannerROS/via_points" />
    <remap from="/move_base/TebLocalPlannerROS/global_plan"                         to="/agv1/move_base/TebLocalPlannerROS/global_plan" />
    <remap from="/move_base/TebLocalPlannerROS/local_plan"                          to="/agv1/move_base/TebLocalPlannerROS/local_plan" />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers"                         to="/agv1/move_base/TebLocalPlannerROS/teb_markers" />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers_array"                   to="/agv1/move_base/TebLocalPlannerROS/teb_markers_array" />
    <remap from="/move_base/TebLocalPlannerROS/teb_poses"                           to="/agv1/move_base/TebLocalPlannerROS/teb_poses" />

    <remap from="/move_base/TrajectoryPlannerROS/cost_cloud"                        to="/agv1/move_base/TrajectoryPlannerROS/cost_cloud" />
    <remap from="/move_base/TrajectoryPlannerROS/global_plan"                       to="/agv1/move_base/TrajectoryPlannerROS/global_plan" />
    <remap from="/move_base/TrajectoryPlannerROS/local_plan"                        to="/agv1/move_base/TrajectoryPlannerROS/local_plan" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_descriptions"            to="/agv1/move_base/TrajectoryPlannerROS/parameter_descriptions" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_updates"                 to="/agv1/move_base/TrajectoryPlannerROS/parameter_updates" />

    <remap from="/move_base/cancel"                                                 to="/agv1/move_base/cancel" />
    <remap from="/move_base/current_goal"                                           to="/agv1/move_base/current_goal" />
    <remap from="/move_base/feedback"                                               to="/agv1/move_base/feedback" />
    <remap from="/move_base/global_costmap/footprint"                               to="/agv1/move_base/global_costmap/footprint" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_descriptions"  to="/agv1/move_base/global_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_updates"       to="/agv1/move_base/global_costmap/inflation_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/obstacle_layer/clearing_endpoints"       to="/agv1/move_base/global_costmap/obstacle_layer/clearing_endpoints" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_descriptions"   to="/agv1/move_base/global_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_updates"        to="/agv1/move_base/global_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/parameter_descriptions"                  to="/agv1/move_base/global_costmap/parameter_descriptions" />
    <remap from="/move_base/global_costmap/parameter_updates"                       to="/agv1/move_base/global_costmap/parameter_updates" />
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"     to="/agv1/move_base/global_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"          to="/agv1/move_base/global_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/goal"                                                   to="/agv1/move_base/goal" />

    <remap from="/move_base/EBandPlannerROS/eband_visualization"                    to="/agv1/move_base/EBandPlannerROS/eband_visualization" />
    <remap from="/move_base/EBandPlannerROS/eband_visualization_array"              to="/agv1/move_base/EBandPlannerROS/eband_visualization_array" />
    <remap from="/move_base/EBandPlannerROS/global_plan"                            to="/agv1/move_base/EBandPlannerROS/global_plan" />
    <remap from="/move_base/EBandPlannerROS/local_plan"                             to="/agv1/move_base/EBandPlannerROS/local_plan" />
    <remap from="/move_base/EBandPlannerROS/parameter_descriptions"                 to="/agv1/move_base/EBandPlannerROS/parameter_descriptions" />
    <remap from="/move_base/EBandPlannerROS/parameter_updates"                      to="/agv1/move_base/EBandPlannerROS/parameter_updates" />

    <remap from="/move_base/local_costmap/parameter_descriptions"                   to="/agv1/move_base/local_costmap/parameter_descriptions" />
    <remap from="/move_base/local_costmap/parameter_updates"                        to="/agv1/move_base/local_costmap/parameter_updates" />
    <remap from="/move_base/local_costmap/static_layer/parameter_descriptions"      to="/agv1/move_base/local_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/static_layer/parameter_updates"           to="/agv1/move_base/local_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/parameter_descriptions"                                 to="/agv1/move_base/parameter_descriptions" />
    <remap from="/move_base/parameter_updates"                                      to="/agv1/move_base/parameter_updates" />
    <remap from="/move_base/result"                                                 to="/agv1/move_base/result" />
    <remap from="/move_base/status"                                                 to="/agv1/move_base/status" />
    <remap from="/move_base_simple/goal"                                            to="/agv1/move_base_simple/goal" />
  </node>
</launch>