<launch>
  <!-- Use the timestamp of /clock topic -->
  <param name="/use_sim_time" value="true" />

  <!-- ************** World ************** -->
  <!-- Almacen -->
  <arg name="world_file" default="$(find tec_proyect)/worlds/almacen_descarga.world"/>
  <!-- Hospital -->
  <!--   <arg name="world_name" default="$(find tec_proyect)/worlds/hospital.world"/>-->
  <!-- Laboratorio -->
  <!--   <arg name="world_name"    default="$(find tec_proyect)/worlds/laboratorio.world"/>-->

  <!-- ************** Gazebo parameters ************** -->
  <arg name="paused"        default="false"/>
  <arg name="use_sim_time"  default="true"/>
  <arg name="gui"           default="true"/>
  <arg name="headless"      default="false"/>
  <arg name="debug"         default="false"/>

  <!-- Start the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">   <!-- base file -->
    <arg name="world_name"    value="$(arg world_file)"/>         <!-- world file -->
    <arg name="paused"        value = "$(arg paused)" />
    <arg name="use_sim_time"  value = "$(arg use_sim_time)" />
    <arg name="gui"           value = "$(arg gui)" />
    <arg name="headless"      value = "$(arg headless)" />
    <arg name="debug"         value = "$(arg debug)" />
  </include>

  <!-- ************** Map Server ************** -->
  <arg name="map_file" default="$(find tec_proyect)/maps/almacen_map.yaml"/>
  <!--  <arg name="map_file" default="$(find tec_proyect)/maps/hospital_map.yaml"/>-->
  <!--  <arg name="map_file" default="$(find tec_proyect)/maps/laboratorio_map.yaml"/>-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
        <param name="frame_id" value="map" />
  </node>

  <!-- ************** Include the robots ************** -->
  <include file="$(find tec_proyect)/launchs/multi_launchs/agv_vehicles.launch"/>

  <!-- ************** Rviz ************** -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tec_proyect)/rviz/rviz_multi.rviz" output="screen" />

  <!-- ************** AMCL launch for each agv ************** -->
  <include file="$(find tec_proyect)/launchs/amcl_launchs/amcl_agv1.launch" />
  <include file="$(find tec_proyect)/launchs/amcl_launchs/amcl_agv2.launch" />
  <include file="$(find tec_proyect)/launchs/amcl_launchs/amcl_agv3.launch" />

  <!-- ************** Pyhton scripts ************** -->
  <node name="agv2_controller" pkg="tec_proyect" type="agv2_controller.py" output="screen"/>
  <node name="agv3_controller" pkg="tec_proyect" type="agv3_controller.py" output="screen"/>
</launch>