<launch>
  <!-- USE: roslaunch tec_proyect model_visualize.launch model:='$(find tec_proyect)/models/agv_model.urdf.xacro' -->
  <arg name="model" default=""/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>
  
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tec_proyect)/rviz/rviz_uni_visualize.rviz"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args=""/>  -->

</launch>